<h1>_form.html.erb</h1>

<%= form_for Comment.new do |f| %>
  <%= f.hidden_field :post_id, value: @post.id %>

  <%= f.label '제목' %>
  <%= f.text_field :commenter %><br>
  <%= f.label '내용' %>
  <%= f.text_area :content %><br>
  <%= f.submit %>
<% end %>
