<!DOCTYPE html>
<html>
<head>
  <title>Gooblog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  <%= link_to 'gooblog', posts_path %>
</div>

<div id="section">
  <%= yield %>
</div>

<div id="footer">
  <address>gooblog</address>
</div>

</body>
</html>
