<div class="main">
  <h1>show.html.erb</h1>

  <%= @post.title %><br>
  <% if @post.asset? %>
    <%= image_tag @post.asset.url(:main) %><br>
  <% end %>
  <%= @post.content %><br>

  <%= link_to '수정', edit_post_path(@post) %>
  <%= link_to '삭제', post_path(@post), method: :delete, data: { confirm: '삭제하시겠습니까?' } %>
  <%= link_to '목록', posts_path %>
  <br>
  <br>
  <%= render partial: 'comments/comment', collection: @post.comments %>

  <div class="comments" id="comments">
    <%= render 'comments/form' %>
  </div>
</div>

<div class="rail">
  <%= render 'rail' %>
</div>
